
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link btn-outline-warning active" data-toggle="tab" id="TabDonHang" onclick="Reload()" href="#DonHang">Đơn hàng</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-outline-warning" data-toggle="tab" id="TabChiTietDH" href="#ChiTietDH">Chi tiết đơn hàng</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container-fluid active" id="DonHang">@Html.Action("DonHang", "DonHang")</div>
    <div class="tab-pane container-fluid fade" id="ChiTietDH">@Html.Action("ChiTietDH", "DonHang")</div>
</div>

<script>
    var table;
    var ChiTietMode = false;

    $.noConflict();
    $(document).ready(function () {

        $('#ThoiGian').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-1:+1"
        });

        table = $('#tableDH').DataTable({
            "ajax": {
                "url": "/DonHang/GetDanhSach",
                "type": "GET",
                "dataType": "json"
            }, "language": {
                "emptyTable": "Không có dữ liệu!"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                },
                'colvis'
            ],
            "columns": [
                { "data": "HoTen" },
                { "data": "SDT" },
                { "data": "Email" },
                { "data": "ThoiGian" },
                { "data": "DiaChiGiaoHang" },
                {
                    "data": "HinhThucThanhToan", "render": function (n) {
                        if (n == 0)
                            return "Thanh toán khi nhận hàng";
                        else return "Chuyển khoản";
                    }
                },
                {
                    "data": "TinhTrangThanhToan", "render": function (t) {
                        if (t == 0)
                            return "Chờ thanh toán";
                        else return "Đã thanh toán";
                    }
                },
                {
                    "data": "TinhTrangGiaoHang", "render": function (g) {
                        if (g == 0)
                            return "Đang giao hàng";
                        else return "Đã giao hàng";
                    }
                },
                { "data": "TongTien" },
                { "data": "DaGiamGia" },
                {
                    "data": "ID", "render": function (id) {
                        return "<a class='btn btn-secondary' onclick = 'ChiTiet(" + id + ")'>Chi Tiết</a><a class='btn btn-primary' onclick=BeginEdit('" + id + "') >Edit</a><a class='btn btn-danger' onclick=BeginDelete('" + id + "','/DonHang/Delete')>Delete</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "15%"
                }],
            pageLength: 10
        });
    });


    function BeginEdit(id) {
        var url = "/DonHang/BeginEdit";
        $.get(url, { id: id }).done(function (dh) {
            $('#ID').val(dh.ID);
            $('#HoTen').val(dh.HoTen);
            $('#Sdt').val(dh.SDT);
            $('#Email').val(dh.Email);
            $('#ThoiGian').val(dh.ThoiGian);
            $('#DiaChiGiaoHang').val(dh.DiaChiGiaoHang);
            $('#HinhThucThanhToan').val(dh.HinhThucThanhToan);
            $('#DaGiamGia').val(dh.DaGiamGia);

            $('#DonHangModal').modal('show');

            $('#ModalLabel').html('Cập nhật thông tin');
        });
    }

    function BeginEditCTDH(id) {
        var url = "/DonHang/BeginEditCTDH";
        $.get(url, { id: id }).done(function (ct) {
            $('#IDCT').val(ct.IDCT);
            $('#IDSanPham').val(ct.IDSanPham);
            $('#SoLuong').val(ct.SoLuong);
        });
    }

    function Refresh() {
        if (ChiTietMode == false) {
            $('#ID').val('0');
            $('#HoTen').val('');
            $('#Sdt').val('');
            $('#Email').val('');
            $('#ThoiGian').val('');
            $('#DiaChiGiaoHang').val('');
            $('#HinhThucThanhToan').val('0');

            $('#DonHangModal').modal('hide');

            $('#ModalLabel').html('Thêm đơn hàng');
        }
        else {

            $('#IDCT').val('0');
            $('#IDSanPham').val(null);
            $('#SoLuong').val('');
        }
    }

    function ImportSuccess(data) {
        if (data.success) {
            $('#mess').removeClass("alert-danger").addClass("alert-success");
            table.ajax.reload();
        }
        else $('#mess').removeClass("alert-success").addClass("alert-danger");

        if (ChiTietMode == false)
            $('#ImportModal').modal('hide');
        else $('#ImportCTDHModal').modal('hide');

        $('#mess').html(data.message);
        $('#toast').toast({ delay: 3000 });
        $('#toast').toast('show');
    }


    function ChiTiet(id) {
        ChiTietMode = true;
        $('#IDDonHang').val(id);
        $('#IDDonHangImport').val(id);

        $('#TabChiTietDH').click();

        table = $('#tableCTDH').DataTable({
            "ajax": {
                "url": "/DonHang/GetDanhSachCTDH",
                "type": "GET",
                "dataType": "json",
                "data": { id: id }
            }, "language": {
                "emptyTable": "Không có dữ liệu!"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                'colvis'
            ],
            "columns": [
                { "data": "TenSanPham" },
                { "data": "TenDanhMuc" },
                { "data": "TenNhom" },
                { "data": "TenNhaCungCap" },
                { "data": "SoLuong" },
                { "data": "DonGia" },
                { "data": "ThanhTien" },
                {
                    "data": "IDCT", "render": function (id) {
                        return "<a class='btn btn-primary' onclick=BeginEditCTDH('" + id + "') >Edit</a><a class='btn btn-danger' onclick=BeginDelete('" + id + "','/DonHang/DeleteCTDH')>Delete</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "15%"
                }],
            pageLength: 50
        });
    }

    function Reload() {
        location.reload();
    }

</script>

