
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active btn-outline-warning" data-toggle="tab" href="#DonHang">Đơn hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-warning" data-toggle="tab" href="#ChiTietDH">Chi tiết đơn hàng</a>
        </li>
    </ul>
</div>


<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container-fluid active" id="DonHang">@Html.Action("DonHang", "DonHang")</div>
    <div class="tab-pane container-fluid fade" id="ChiTietDH">Tab 2</div>
</div>