
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Blog Single -->
<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            <div class="image">
                                <img src="~/Content/User/images/Blog.png" alt="#">
                            </div>
                            <div class="blog-detail">
                                <h2 class="blog-title">5 yếu tố để trang trí nội thất nhà đẹp như ý muốn</h2>
                                <div class="blog-meta">
                                    <span class="author"><a href="#"><i class="fa fa-user"></i>Đăng bởi Admin</a><a href="#"><i class="fa fa-calendar"></i>Dec 24, 2020</a><a href="#"><i class="fa fa-comments"></i>Bình luận (3)</a></span>
                                </div>
                                <div class="content">
                                    <p>Khi nói đến thiết kế trang trí nội thất nhà, mọi phần của ngôi nhà đều rất quan trọng. Từ phòng khách đến đến nhà bếp, phòng ngủ v.v… phải được xem xét kỹ lưỡng.</p>
                                    <blockquote> <i class="fa fa-quote-left"></i> Việc trang trí nội thất nhà đẹp là khá thú vị và dễ thực hiện. Tuy nhiên bạn cần lên kế hoạch cụ thể và vạch ra ngân sách cho phù hợp. Mong rằng, với 5 yếu tố để trang trí nội thất nhà đẹp nêu trên sẽ giúp bạn có thêm nhiều ý tưởng & cảm hứng.</blockquote>
                                    <p>
                                        1. Màu sắc đóng một vai trò quan trọng khi trang trí nội thất nhà ở hay căn hộ chung cư. Sự pha trộn màu sắc phù hợp có thể làm cho ngôi nhà của bạn trông hiện đại hoặc cổ điển. Ngược lại, lựa chọn màu sắc kém có thể khiến ngôi nhà trông tẻ nhạt. Vì vậy điều cần thiết là bạn phải nghiên cứu, hoặc tìm kiếm lời khuyên từ một nhà thiết kế nội thất chuyên nghiệp. Người có thể giúp bạn đưa ra lựa chọn tốt nhất.

                                        Những màu sắc trung tính thường được lựa chọn trong nội thất nhà ở. Hãy chọn những màu không quá sáng như màu xám, trắng xám và vàng Beige.
                                    </p>
                                    <p>2. Cũng giống như màu sắc, đồ nội thất cũng đóng một vai trò rất quan trọng trong việc tôn lên vẻ đẹp của ngôi nhà. Có nhiều thương hiệu và kiểu dáng đồ nội thất mà bạn có thể chọn, với nhiều màu sắc, kích thước và hình dạng khác nhau. Có một mẹo nhỏ để bạn có thể xác định đúng màu nào phù hợp với căn phòng của mình. Đó là, dùng màu sơn tường để xác định màu của đồ đạc trong nhà và ngược lại.</p>
                                    <p>3. Các phụ kiện trang trí trong nhà như tranh treo tường và hoa cũng rất quan trọng. Chúng làm cho căn nhà trở nên sinh động và vui vẻ. Có rất nhiều công ty cung cấp đồ trang trí décor nội thất. Bạn có thể mua online hoặc xem sản phẩm trước khi đến cửa hàng. Thậm chí có thể đặt hàng trực tuyến.</p>
                                    <p>4. Điều cần thiết khi trang trí nội thất nhà đẹp là bạn nên tránh lấp đầy ngôi nhà của mình với những thứ không cần thiết và cồng kềnh. Thay vào đó, bạn nên bố trí một nơi lưu trữ riêng cho những món đồ này. Có thể tối ưu diện tích đựng chứa theo chiều cao của căn phòng nếu như đó là căn hộ, hoặc nhà có diện tích nhỏ.</p>
                                    <p>5. Và cho dù việc trang trí nội thất và cải tạo nhà cửa của bạn có tuyệt vời đến mấy đi chăng nữa, thì bạn cùng đừng quên rằng, ánh sáng tự nhiên là điều không thể thiếu. Bởi ánh sáng tự nhiên mang lại sự tỉnh táo và khỏe mạnh, phấn chấn, tái tạo năng lượng cũng như ảnh hưởng đến tâm lý.</p>
                                </div>
                            </div>
                            <div class="share-social">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="content-tags">
                                            <h4>Tags:</h4>
                                            <ul class="tag-inner">
                                                <li><a href="#">Trang trí</a></li>
                                                <li><a href="#">ánh sáng</a></li>
                                                <li><a href="#">mới</a></li>
                                                <li><a href="#">decor</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="comments">
                                <h3 class="comment-title">Comments (2)</h3>
                                <!-- Single Comment -->
                                <div class="single-comment">
                                    <img src="~/Content/User/images/user1.png" alt="#">
                                    <div class="content">
                                        <h4>Alisa harm <span>at 11:01 am On Jan 1, 2021</span></h4>
                                        <p>Tôi không nghĩ bản thân đã bỏ qua nhiều thứ như vậy, chắc chắn tôi sẽ phải thay đổi một vài thứ trong căn hộ đang thuê. À mà ở thuê thì sửa làm gì :) </p>
                                        <div class="button">
                                            <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Trả lời</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Comment -->
                                <!-- Single Comment -->
                                <div class="single-comment left">
                                    <img src="~/Content/User/images/user2.png" alt="#">
                                    <div class="content">
                                        <h4>john deo <span>Jan 1, 2021 at 19:07 pm</span></h4>
                                        <p>Chắc còn bỏ qua nhiều thứ khác lắm nhỉ?!</p>
                                        <div class="button">
                                            <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Trả lời</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Comment -->
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="reply">
                                <div class="reply-head">
                                    <h2 class="reply-title">Để lại bình luận</h2>
                                    <!-- Comment Form -->
                                    <form class="form" action="#">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Tên của bạn<span>*</span></label>
                                                    <input type="text" name="name" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Email<span>*</span></label>
                                                    <input type="email" name="email" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Nội dung<span>*</span></label>
                                                    <textarea name="message" placeholder=""></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group button">
                                                    <button type="submit" class="btn">Đăng bình luận</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Comment Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="main-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget search">
                        <div class="form">
                            <input type="email" placeholder="Tìm kiếm...">
                            <a class="button" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        <h3 class="title">Danh mục blog</h3>
                        <ul class="categor-list">
                            <li><a href="#">Phong cách nội thất</a></li>
                            <li><a href="#">Chuẩn mực thiết kế</a></li>
                            <li><a href="#">Sang trọng và tinh tế</a></li>
                            <li><a href="#">"Black Tie" A to Z </a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget recent-post">
                        <h3 class="title">Bài viết gần đây</h3>
                        <!-- Single Post -->
                        <div class="single-post">
                            <div class="image">
                                <img src="~/Content/User/images/recent2.png" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Người kiến tạo không gian sống thẩm mỹ</a></h5>
                                <ul class="comment">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Jan 8, 2020</li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                        <!-- Single Post -->
                        <div class="single-post">
                            <div class="image">
                                <img src="~/Content/User/images/recent1.png" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Décor Walther – Tác phẩm nghệ thuật trong…</a></h5>
                                <ul class="comment">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 05, 2020</li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>9</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                        <!-- Single Post -->
                        <div class="single-post">
                            <div class="image">
                                <img src="~/Content/User/images/recent3.png" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Vẻ đẹp vững bền cùng năm tháng</a></h5>
                                <ul class="comment">
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>June 09, 2020</li>
                                    <li><i class="fa fa-commenting-o" aria-hidden="true"></i>44</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget side-tags">
                        <h3 class="title">Tags</h3>
                        <ul class="tag">
                            <li><a href="#">decor</a></li>
                            <li><a href="#">trang trí</a></li>
                            <li><a href="#">sang trọng</a></li>
                            <li><a href="#">không gian</a></li>
                            <li><a href="#">vàng</a></li>
                            <li><a href="#">ấm cúng</a></li>
                            <li><a href="#">trắng</a></li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget newsletter">
                        <h3 class="title">NHẬN TIN MỚI</h3>
                        <div class="letter-inner">
                            <h4>Đăng ký bản tin</h4>
                            <div class="form-inner">
                                <input type="email" placeholder="Enter your email">
                                <a href="#">Submit</a>
                            </div>
                        </div>
                    </div>
                    <!--/ End Single Widget -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Single -->