@model IPagedList<NoiThat_v2._0.ViewModels.SanPhamViewModel>

@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="heading heading-center mb-6">
        <h2 class="title">Recent Arrivals</h2><!-- End .title -->
    </div><!-- End .heading -->
    <div class="products">
        <div class="row justify-content-center">
        @foreach (var item in Model) {
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product product-11 mt-v3 text-center">
                    <figure class="product-media">
                        <a href="product.html">
                            <img src="@item.PathImg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist "><span>add to wishlist</span></a>
                        </div><!-- End .product-action-vertical -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <h3 class="product-title"><a href="product.html"></a>@item.Ten</h3><!-- End .product-title -->
                        <div class="product-price">
                            @item.Gia
                        </div><!-- End .product-price -->
                    </div><!-- End .product-body -->
                    <div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div><!-- End .product-action -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
        }
        </div><!-- End .row -->
    </div><!-- End .products -->
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", "TrangChu", new { page }))
    </div>
</div><!-- .End .tab-pane -->

